*{ box-sizing:
    border-box;}

.header {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    border: 2px;
    border-radius: 5px;
    background-color: rgb(255, 193, 193);

}

.navegacion { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    font-size: 25px;

    width: 100vw;
}

.logo { 
    margin: 15px;
    border-radius: 10px;
}

@media screen and (max-width: 1024px) {
    .navegacion {
        font-size: 15px;
    }
    
}
.aside-nav {
    display: none;
}

@media screen and (max-width: 768px) {
    .header { display: none;}

    .aside-nav {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: fit-content;
        
        background-color: rgb(255, 193, 193);
        padding: 20px;
    }

    .logo {
        height: 80px;
        width: 80px;
    }
}

main {
    display: flex;
    flex-direction: column;
}

.articulos-horarios {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
 }

.articulos-principales { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.articulo1 {
    background-color: rgb(202, 255, 233);
    padding: 10px;
    margin: 10px;
}

.articulo2 {
    background-color: rgb(202, 255, 233);
    padding: 10px;
    margin: 10px;
}

.horarios { 
    background-color: rgb(202, 255, 233);
    padding: 10px;
    margin: 10px;
    text-align: start;
}

.opiniones {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    background-color: rgb(240, 202, 255);
    padding: 10px;
    margin: 10px;
}

.opinion1 {
    display: flex;
    flex-direction: column;

    text-align: center;
}

.opinion2 {
    display: flex;
    flex-direction: column;

    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

    background-color: bisque;
}

.todos-productos {
    display: flex;
    flex-direction: row;

    width: 95vw;
}

.article1 {
  display: flex;
  flex-direction: column;
  
  justify-content: space-evenly;
  align-items: center;

  padding: 10px;
  margin: 5px;
  background-color: rgb(255, 226, 226);

  width: 20%;
}

.imagen-productos{
    object-fit: cover;
    width: 100%;
    max-width: 200px;
}

.sobre-nosotras {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}

.parrafo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 700px;
    text-align: center;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.section-article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: rgb(240, 202, 255);
    width: 100vw;
    padding: 10px;
    margin: 10px;
}

.article-imagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin: 5px;

    width: 80%;
}



.articulos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.mochi {
    text-align: center;
}


.formulario-ubicacion {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

